* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

body {
  // font-family: Arial, Helvetica, sans-serif;
  font-family: "Rocher";
  background-color: #f5f5f5;
}
